<!DOCTYPE html>
<html lang="en" ng-app="app" ng-strict-di>
<head>
	<title>Radical</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

	<script src="../node_modules/angular/angular.min.js"></script>
	<script src="../node_modules/angular-resource/angular-resource.min.js"></script>
	<script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<script src="../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="js/services/alert.js"></script>
	<script src="js/services/database.js"></script>
	<script src="js/services/queue.js"></script>
	<script src="js/controllers/main.js"></script>
	<script src="js/controllers/carts.js"></script>
	<script src="js/controllers/library.js"></script>
	<script src="js/controllers/login.js"></script>
	<script src="js/controllers/playqueue.js"></script>
	<script src="js/app.js"></script>
</head>
<body ng-controller="MainCtrl">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" ui-sref="playqueue">
					<img src="images/wsbflady_100.png" height="30" width="30" alt="WSBF logo"/>
				</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li>
					<a ui-sref="library">Albums</a>
				</li>
				<li>
					<a ui-sref="carts">Carts</a>
				</li>
				<li>
					<a ui-sref="playqueue">Play Queue</a>
				</li>
				<li ng-show="!user">
					<a href="" ng-click="login()">Log in</a>
				</li>
				<li ng-show="user">
					<a href="" ng-click="logout()">Log out</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container-fluid">
        <ui-view></ui-view>
	</div>

	<div id="alerts">
		<div class="alert alert-{{a.type}} alert-dismissible" role="alert" ng-repeat="a in alert.alerts">
			<button type="button" class="close" ng-click="alert.remove($index)">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">Close</span>
			</button>
			<strong>{{a.header}}</strong>
			<span>{{a.message}}<span>
		</div>
	</div>
</body>
</html>
