<div class="row" ng-show="user">
	<div class="col-xs-3 col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">Dashboard</div>

			<div class="list-group">
				<a class="list-group-item" ui-sref=".library">Music Library</a>
				<a class="list-group-item" ui-sref=".logbook">Logbook</a>
				<a class="list-group-item" ng-click="logout()">Log out</a>
			</div>
		</div>
	</div>

	<div class="col-xs-9 col-md-10">
		<ui-view></ui-view>
	</div>

	<div id="alerts">
		<uib-alert ng-repeat="a in alert.alerts" type="{{a.type}}" close="alert.remove($index)">
			<strong>{{a.header}}</strong>
			<span>{{a.message}}<span>
		</uib-alert>
	</div>
</div>
